<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil do Usuário</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 h-screen flex">
<div th:include="sidebar :: sidebar"></div>


<div class="flex-1 ml-64 p-8">
    <h1 class="text-3xl font-bold mb-6">Perfil do Usuário</h1>

    <div class="bg-white p-6 rounded shadow">
        <h2 class="text-xl font-semibold">Informações do Peril</h2>
        <p class="mt-2">Nome do usuário: <span th:text="${user.name}" class="font-medium text-gray-700"></span></p>
        <p class="mt-2">Role: <span th:text="${role}" class="font-medium text-gray-700"></span></p>
        <p class="mt-2">Estacionamento: <span th:text="${user.parking?.name}" class="font-medium text-gray-700"></span></p>
    </div>
</div>
</body>
</html>
