<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuários</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:if="${(param.error ?: '').toString().equals('userNotFound')}">
    Usuário não encontrado!
</div>
<div class="container">
    <h1>Lista de Usuários</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Role</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Id</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.getRole()}">Role</td>
            <td th:text="${user.name}">Nome do Usuário</td>
            <td th:text="${user.email}">email@exemplo.com</td>
            <td th:text="${user.id}">id</td>
            <td>
                <a th:href="@{/users/{id}(id=${user.id})}" class="btn btn-primary">Editar</a>
                <button class="btn btn-danger" th:data-user-id="${user.id}" onclick="deleteUser(this.dataset.userId)">Deletar</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
<script>
    function deleteUser(userId) {
        if (confirm('Você tem certeza que deseja deletar este usuário?')) {
            fetch(`/users/${userId}`, {
                method: 'DELETE',
            }).then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    alert('Erro ao deletar o usuário.');
                }
            }).catch(error => console.error('Erro:', error));
        }
    }
</script>
