<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuários</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 h-screen flex">
<div th:include="sidebar :: sidebar"></div>

<div class="flex-1 ml-64 p-8">
    <!-- Exibe mensagem de erro caso o usuário não seja encontrado -->
    <div th:if="${(param.error ?: '').toString().equals('userNotFound')}" class="mb-4 p-4 bg-red-100 text-red-700 rounded">
        Usuário não encontrado!
    </div>

    <div th:if="${param.newUserCreated}" class="mb-4 p-4 bg-red-100 text-red-700 rounded">
        Novo usuário criado com sucesso!
    </div>

    <h1 class="text-3xl font-bold mb-6">Lista de Usuários</h1>
    <div class="flex justify-between items-center mb-6">
        <a href="/users/new" class="btn btn-success">Criar Novo Usuário</a>
    </div>

    <div class="bg-white p-6 rounded shadow">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Role</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Id</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.getRole()}">Role</td>
                <td th:text="${user.name}">Nome do Usuário</td>
                <td th:text="${user.email}">email@exemplo.com</td>
                <td th:text="${user.id}">id</td>
                <td>
                    <a th:href="@{/users/{id}(id=${user.id})}" class="btn btn-primary mr-2">Editar</a>
                    <button class="btn btn-danger" th:data-user-id="${user.id}" onclick="deleteUser(this.dataset.userId)">Deletar</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    function deleteUser(userId) {
        if (confirm('Você tem certeza que deseja deletar este usuário?')) {
            fetch(`/users/${userId}`, {
                method: 'DELETE',
            }).then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    alert('Erro ao deletar o usuário.');
                }
            }).catch(error => console.error('Erro:', error));
        }
    }
</script>
</body>
</html>