<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuário</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 h-screen flex">
<div th:include="sidebar :: sidebar"></div>

<div class="flex-1 ml-64 p-8">
    <h1 class="text-3xl font-bold mb-6">Editar Usuário</h1>

    <div th:if="${param.newUserUpdated}" class="mb-4 p-4 bg-green-100 text-700 rounded">
        Usuário editado com sucesso!
    </div>
    <div class="bg-white p-6 rounded shadow">
        <form action="#" th:action="@{/users/update/{id}(id=${user.id})}" method="post" th:object="${user}">
            <div class="form-group mb-4">
                <label for="name" class="font-semibold">Nome:</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" required>
            </div>
            <div class="form-group mb-4">
                <label for="email" class="font-semibold">Email:</label>
                <input type="email" class="form-control" id="email" th:field="*{email}" required>
            </div>
            <select
                    name="role"
                    th:field="*{role}"
                    required
                    class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-red-500 bg-white text-gray-500 transition duration-150 ease-in-out"
            >
                <option value="" disabled selected>Choose a role</option>
                <option th:each="role : ${roles}"
                        th:value="${role}"
                        th:text="${role}"
                        th:checked="${user.role}"> <!-- Mostra o displayName -->
                </option>
            </select>
            <!-- Adicione mais campos conforme necessário -->
            <button type="submit" class="btn btn-primary mr-2">Salvar</button>
            <a href="/users" class="btn btn-secondary">Voltar</a>
        </form>
    </div>
</div>
</body>
</html>
