<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Parking</title>
</head>
<body>
<h1>Edit Parking</h1>

<form th:action="@{/parking/update/{id}(id=${parking.id})}" th:object="${parking}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" required>

    <label for="address">Location:</label>
    <input type="text" id="address" th:field="*{address}" required>

    <label for="totalCapacity">Capacity:</label>
    <input type="number" id="totalCapacity" th:field="*{totalCapacity}" required>

    <button type="submit">Update Parking</button>
    <a href="/parking/list">Cancel</a>
</form>
</body>
</html>
