<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
    <div th:if="${param.sucess}">
        Login realizado com sucesso!
    </div>
    <h1 th:text="${message}">Hello World</h1>
    <h1>Nome do usuário: <p th:text="${name}"></p></h1>
    <h1>Roles: <p th:text="${roles}"></p></h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" th:value="Sair">
    </form>
    <h1 sec:authorize="hasAuthority('ADMIN')"> SÓ MOSTRA SE FOR ADMIN</h1>
</body>
</html>
