<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div th:if="${param.success}">
        Registro realizado com sucesso! Por favor realize o login
    </div>
    <div th:if="${param.error}">
        Login ou senha incorretos
    </div>
    <form th:action="@{/login}" method="post">
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" autofocus="autofocus"/>
        <label for="password">Password: </label>
        <input type="password" id="password" name="password" /><input type="submit" value="Log in" />
    </form>
</body>
<a href=""></a>
</html>
