<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Parking List</title>
</head>
<body>
<h1>Parking List</h1>

<a href="/parking/new">Add New Parking</a>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Capacity</th>
        <th>Actions</th>
        <th>Vagas disponiveis</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="parking : ${parkings}">
        <td th:text="${parking.name}">Name</td>
        <td th:text="${parking.address}">Location</td>
        <td th:text="${parking.totalCapacity}">Capacity</td>
        <td th:text="${parking.vacanciesAvailable}">Capacity</td>
        <td>
            <a th:href="@{/parking/edit/{id}(id=${parking.id})}">Edit</a>
            <a th:href="@{/parking/delete/{id}(id=${parking.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
