<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar-se</title>
</head>
<body>
<form th:action="@{/register}" method="post" th:object="${user}">
    <input name="email" type="text" placeholder="Email" required>
    <input name="name" type="text" placeholder="Nome" required>
    <input name="role" type="text" placeholder="Role" required>
    <input name="password" type="password" placeholder="Password" required>
    <input type="submit" value="Registrar">
</form>
<a th:href="@{/login}">Já tem uma conta? Faça login.</a>
</body>
</html>
