<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Novo Estacionamento</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 h-screen flex">
<div th:include="sidebar :: sidebar"></div>

<div class="flex-1 ml-64 p-8">
    <h1 class="text-3xl font-bold mb-6">Adicionar Novo Estacionamento</h1>

    <div class="bg-white p-6 rounded shadow">
        <form th:action="@{/parking}" th:object="${parking}" method="post" class="space-y-4">
            <div class="form-group">
                <label for="nome" class="form-label">Nome:</label>
                <input type="text" id="nome" th:field="*{name}" required class="form-control" placeholder="Nome do Estacionamento">
            </div>

            <div class="form-group">
                <label for="localizacao" class="form-label">Localização:</label>
                <input type="text" id="localizacao" th:field="*{address}" required class="form-control" placeholder="Endereço">
            </div>

            <div class="form-group">
                <label for="carros" class="form-label">Capacidade para Carros:</label>
                <input type="number" id="carros" th:field="*{carCapacity}" required class="form-control" placeholder="Capacidade para Carros">
            </div>

            <div class="form-group">
                <label for="motos" class="form-label">Capacidade para Motos:</label>
                <input type="number" id="motos" th:field="*{motocycleCapacity}" required class="form-control" placeholder="Capacidade para Motos">
            </div>

            <div class="form-group">
                <label for="bicicletas" class="form-label">Capacidade para Bicicletas:</label>
                <input type="number" id="bicicletas" th:field="*{bicycleCapacity}" required class="form-control" placeholder="Capacidade para Bicicletas">
            </div>

            <div class="form-group">
                <label for="caminhoes" class="form-label">Capacidade para Caminhões:</label>
                <input type="number" id="caminhoes" th:field="*{truckCapacity}" required class="form-control" placeholder="Capacidade para Caminhões">
            </div>

            <div class="flex justify-between mt-6">
                <button type="submit" class="btn btn-success">Adicionar Estacionamento</button>
                <a href="/parkings" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
