<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Tickets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 h-screen flex">
<div th:include="sidebar :: sidebar"></div>

<div class="flex-1 ml-64 p-8">
    <h1 class="text-3xl font-bold mb-6">Lista de Tickets</h1>
    <div class="flex justify-between items-center mb-6">
        <a href="/ticket/new" class="btn btn-success">Adicionar Novo Ticket</a>
    </div>

    <div th:if="${param.ticketCreated}" class="mb-4 p-4 bg-green-100 text-green-700 rounded">
        Novo ticket criado com sucesso!
    </div>
    <div th:if="${param.ticketDeleted}" class="mb-4 p-4 bg-green-100 text-green-700 rounded">
        Ticket removido com sucesso!
    </div>
    <div th:if="${param.errorCanNotRemoveTicketPending}" class="mb-4 p-4 bg-red-100 text-red-700 rounded">
        Não é possível remover um ticket ativo!
    </div>


    <div class="bg-white p-6 rounded shadow">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Código</th>
                <th>Total Pago</th>
                <th>Status</th>
                <th>Data Início</th>
                <th>Data Fim</th>
                <th>Vaga</th>
                <th>Usuário</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ticket : ${tickets}">
                <td th:text="${ticket.code}">Código</td>
                <td th:text="${ticket.paymentTotal}">Total Pago</td>
                <td th:text="${ticket.status}">Status</td>
                <td th:text="${#temporals.format(ticket.dateStart, 'dd/MM/yyyy HH:mm')}">Data Início</td>
                <td th:text="${#temporals.format(ticket.dateEnd, 'dd/MM/yyyy HH:mm')}">Data Fim</td>
                <td th:text="${ticket.vacancy.code}">Vaga</td>
                <td th:text="${ticket.user.name}">Usuário</td>
                <td>
                    <a th:href="@{/ticket/{id}(id=${ticket.id})}" class="btn btn-info">Ver Detalhes</a>
                    <a th:href="@{/ticket/delete/{id}(id=${ticket.id})}" class="btn btn-danger" onclick="return confirm('Você tem certeza que deseja deletar este ticket?')">Deletar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
