<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Criar Ticket</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body class="bg-gray-100 h-screen flex">
<div th:include="sidebar :: sidebar"></div>
<div class="flex-1 ml-64 p-8">
    <h1 class="text-3xl font-bold mb-6">Criar Novo Ticket</h1>
    <div class="bg-white p-6 rounded-lg shadow-lg">
        <form th:action="@{/ticket/operator_new}" th:object="${ticket}" method="post" class="space-y-4">

            <div class="form-group">
                <label for="status" class="font-semibold text-lg">Status</label>
                <select id="status" name="status" th:field="*{status}" class="form-control w-full p-2 rounded-lg border border-gray-300" required>
                    <option th:value="${status}" th:text="${status}"></option>
                </select>
            </div>

            <div id="newVehicle" class="form-group">
                <h3 class="font-semibold text-lg mb-4">Cadastrar Novo Veículo</h3>
                <div class="form-group">
                    <label for="plate" class="font-semibold text-lg">Placa</label>
                    <input type="text" id="plate" name="ticket.vehicle.plate" th:field="*{vehicle.plate}" class="form-control w-full p-2 rounded-lg border border-gray-300" placeholder="Ex: ABC1234" required>
                </div>
                <div class="form-group">
                    <label for="model" class="font-semibold text-lg">Modelo</label>
                    <input type="text" id="model" name="ticket.vehicle.model" th:field="*{vehicle.model}" class="form-control w-full p-2 rounded-lg border border-gray-300" required>
                </div>
                <div class="form-group">
                    <label for="type" class="font-semibold text-lg">Tipo</label>
                    <select id="type" name="ticket.vehicle.type" th:field="*{vehicle.type}" class="form-control w-full p-2 rounded-lg border border-gray-300" required>
                        <option th:each="type : ${vehicleTypes}" th:value="${type}" th:text="${type}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="priorityType" class="font-semibold text-lg">Prioridade</label>
                <select id="priorityType" name="priorityType" th:field="*{priorityType}" class="form-control w-full p-2 rounded-lg border border-gray-300" required>
                    <option th:each="priorityType : ${priorityTypes}" th:value="${priorityType}" th:text="${priorityType}"></option>
                </select>
            </div>

            <div class="flex justify-end mt-4">
                <button type="submit" class="btn bg-green-600 text-white py-2 px-4 rounded-lg hover:bg-green-700">Salvar</button>
                <a href="/tickets" class="btn bg-gray-600 text-white py-2 px-4 rounded-lg ml-2 hover:bg-gray-700">Cancelar</a>
            </div>
        </form>
    </div>
</div>

</body>
</html>
